In [7]:
# Handling missing value using scikit learn librabry
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [5]:
df=pd.read_csv("CollegeData.csv")
df.head(10)

      Name   Age Course              Email  Mobile_no
0  Harshita   27    DAC   harshu@gmail.com    12345.0
1   Sourabh   26   DBDA  saurabh@gmail.com    57882.0
2    Neeraj   24   DBDA   neeraj@gmail.com    56923.0
3   Bhaskar   24    MBA  bhaskar@gmail.com    74632.0
4    Dipika   28    NaN   dipika@gmail.com    98022.0
5  Shraddha   25    NaN                NaN    63748.0
6   Manthan   23   DBDA      man@gmail.com        NaN
7    Rutuja   25    DAC                NaN    67233.0
8     Kajal   20   DESD    kajal@gmail.com    12345.0
9  Harshita   27    DAC   harshu@gmail.com    57882.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       24 non-null     object
 1   Age        24 non-null     int64
 2   Course     16 non-null     object
 3   Email      18 non-null     object
 4   Mobile_no  19 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ KB

In [13]:
df.select_dtypes(include="float64").isnull().sum()

Mobile_no    5
dtype: int64

In [14]:
df.select_dtypes(include="float64").columns

Index(['Mobile_no'], dtype='object')

In [22]:
# filling missing value with mean
si=SimpleImputer(strategy="mean")
# it applying mean strategy to columns transform into array 
# simple imputer show result in form of array
arr=si.fit_transform(df[["Mobile_no"]])

In [19]:
data=pd.DataFrame(arr,columns=["Mobile_no"])

In [20]:
data.isnull().sum()

Mobile_no    0
dtype: int64

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Mobile_no  24 non-null     float64
dtypes: float64(1)
memory usage: 324.0 bytes