In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"CollegeData.csv")
df.head(5)

      Name   Age Course              Email  Mobile_no  Gender Married
0  Harshita   27    DAC   harshu@gmail.com    12345.0  female     yes
1   Sourabh   26   DBDA  saurabh@gmail.com    57882.0    male     yes
2    Neeraj   24   DBDA   neeraj@gmail.com    56923.0    male      no
3   Bhaskar   24    MBA  bhaskar@gmail.com    74632.0    male      no
4    Dipika   28    NaN   dipika@gmail.com    98022.0  female     yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       24 non-null     object
 1   Age        24 non-null     int64
 2   Course     16 non-null     object
 3   Email      18 non-null     object
 4   Mobile_no  19 non-null     float64
 5   Gender     19 non-null     object
 6   Married    16 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.4+ KB

In [4]:
df.isnull().sum()

Name         0
Age          0
Course       8
Email        6
Mobile_no    5
Gender       5
Married      8
dtype: int64

In [5]:
print(df.columns)

Index(['Name ', 'Age', 'Course', 'Email', 'Mobile_no', 'Gender', 'Married'], dtype='object')

In [6]:
df["Gender"].unique()

array(['female', 'male', nan], dtype=object)

In [7]:
df["Gender"].fillna(df["Gender"].mode()[0],inplace=True)
df["Married"].fillna(df["Married"].mode()[0],inplace=True)

In [8]:
df["Gender"].unique()
df["Married"].unique()

array(['yes', 'no'], dtype=object)

In [9]:
en_data=df[["Gender","Married"]]

In [16]:
pd.get_dummies(en_data,dtype=int)

    Gender_female  Gender_male  Married_no  Married_yes
0               1            0           0            1
1               0            1           0            1
2               0            1           1            0
3               0            1           1            0
4               1            0           0            1
5               1            0           1            0
6               0            1           1            0
7               1            0           1            0
8               1            0           1            0
9               1            0           1            0
10              0            1           1            0
11              0            1           1            0
12              0            1           0            1
13              1            0           1            0
14              1            0           0            1
15              0            1           1            0
16              1            0           0            1
17              1            0           1            0
18              1            0           1            0
19              1            0           0            1
20              1            0           1            0
21              1            0           1            0
22              1            0           1            0
23              1            0           1            0

In [11]:
# using sklern library you can also encode data
from sklearn.preprocessing import OneHotEncoder

In [17]:
ohe=OneHotEncoder()
arr=ohe.fit_transform(en_data).toarray()  #convert into array

In [13]:
arr

array([[0., 1.],
       [1., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [18]:
data=pd.DataFrame(arr,columns=["Gender_male","Gender_female","Married_no","Married_yes"])

In [ ]:
data

In [ ]:
# here it drop first column of each set
# ohe=OneHotEncoder(drop="first")